


  .jumbotronpricing {
      padding: 30px;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: white;
      background-color: #FBC031;
  }

  .jumbotronsupport {
      padding: 30px;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: white;
      background-color: #1386A8;
  }
/** /INDEX.html**/


/** FEATURES.html**/

  #featparagraph {
    font-size: 14px;
    font-family:'Arial';
    font-weight:normal;
    line-height:1.1;
    padding-top: 15px;
  }

/** /FEATURES.html**/




