body, html {
	height: 100%;
	width: 100%;
}
@media (max-width: 979px) {
	          body {
	              padding-top: 15px;
	              position: relative;
	              padding-left: 5px;
	              padding-right: 5px;
	          }
	      }


font-family: 'Ubuntu', sans-serif;

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	padding-top: 15px;
	padding-bottom: 70px;
	position: relative;
	  }

.navbar {
	background-color: white;
	border-color: white;
	margin-top: 0px;
    margin-bottom: 0px;
}


.navbar-default .navbar-nav > li > a {
  color: black;
}

.special {
	padding-top: -30px;
}

.nav>li>a {
	padding-top: -30px;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger  {
	color: #fff;
	background-color: #D9534F;
	border-color: #D43F3A;
}

.nav>li>a {
	padding-top: 20px;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: none;
}
.navbar-toggle {
  	background-color: #FA9300;
}
.navbar-toggle .icon-bar {
  	background-color: #FBC031;
}	
.active {
	background-color: #EEEEEE;
}
.active>a {
	color: #1386A8;
}
.nav>li>a:hover {
    text-decoration:none;
}

#navtop {
    margin-top: -10px;
    margin-bottom: 12px;
}


footer {
	background-color: white;
	line-height: 2.5;
	font-family:'Arial';
}

footer li {
	font-size: 13px;
	font-family:'Arial';
	font-weight:normal;
	line-height:2.1;
}

.btmftr {
    font-size: 15px;
    font-family:'Arial';
    font-weight:bold;
    line-height:1.1;
  }


/**Links**/
	a {
	    color:#000000;
	    text-decoration:none;
	}
	a:hover,a:focus {
	    color:#000000;
	    text-decoration:none;
	}

	a:focus {
	    outline:thin dotted #000000;
	    outline:5px auto -webkit-focus-ring-color;
	    outline-offset:-2px;
	}

/**Responsive Elements**/
	img {
	    max-width: 100%; /**makes images resize nicely**/
	}

	@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.jumbotron {
  padding: 70px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.jumbotronfeatures {
      padding-top: 70px;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: white;
      background-color: #78BD46;
  }
.jumbotronpricing {
      padding: 70px;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: white;
      background-color: #FBC031;
  }

  .jumbotronsupport {
      padding: 70px;
      margin-bottom: 0px;
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: white;
      background-color: #1386A8;
  }